// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//para redimensionar mi mapa
#mapDiv{
    width: 100%;
    height: 52vh;
}